section {
    display: flex;
  }
  button {
    background-color: #ffffff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
  button:hover{
    background-color: #175e19; /* Green */
    color: white;
  }
  header {
    background: rgb(173, 84, 173);
    height: 100px;
  }
#redBut{
  border: 2px solid #790202;
}
#redBut:hover{
  background-color: #790202; /* Green */
  color: white;
}
.flex{
  display: flex;
  flex-direction: column;
  column-gap: 20px
}
.item{
  display: flex;
  order: 2;
  flex: 100%;

}
.sign{
  order: 1;
  position: fixed;
  display: flex;
  flex:100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0); 
  opacity: 10%;
  width: 100%; 
  height: 50%;
  overflow: auto;
}
.node{

} 

.modal {
  position: fixed; 
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(255,255,255);
}