
section {
    display: flex;
  }
  button {
    background-color: #ffffff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
  button:hover{
    background-color: #175e19; /* Green */
    color: white;
  }
  header {
    background: rgb(173, 84, 173);
    height: 100px;
  }
#redBut{
  border: 2px solid #790202;
}
#redBut:hover{
  background-color: #790202; /* Green */
  color: white;
}
.flex{
  display: flex;
  flex-direction: column;
  column-gap: 25px;
}
.item{
  padding: 2px;
  display: flex;
  order: 2;
  flex: 100%;
  column-gap: 25px;
  flex-direction: column;
}

* { box-sizing: border-box; padding: 0px; margin: 0; column-gap: 0px;}

body,
html { overflow-x: hidden; }

.bar {
  position: flex;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0;

  background-color: #000000;
  color: white;

  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}

.bar_content {
  white-space: pre;
  width: 100%;
  transform: translateX(90%);
  animation: move 75s linear infinite
}

@keyframes move {
  to { transform: translateX(-500%); }
}

.sign{
    display: grid;
    /* grid-column-gap: 2px; */
    /* grid-row-gap: 2px; */
    row-gap: 2px;
    column-gap: 1px;
    background-color: black;
    padding: 10px;
   /* min-width: 100%; */
    max-width: 100%;
    align-items: center;
    grid-template-columns: repeat(var(--numCols),1fr);
}

canvas{
}

.pixel{
  /*border-radius: 2px; */
}

.modal {
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(255,255,255);
}

.modal-header {
  padding: 2px 100px;
  background-color: #5cb85c;
  color: WHITE;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: rgb(0,0,0);
  border: 6px solid #202020;
}

.slides {
  display: flex;
  padding: 80px;
  text-align: center;
  flex-direction: column;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #c3c3c3;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  background: #202020;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #393939;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.header1 {
    flex: 100%;
    font-size: 4vw;
    color: rgb(255,255,255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.header2 {
    flex: 100%;
    font-size: 2vw;
    color: #c3c3c3;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.socials-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}
